#tutorial {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    border: 1px solid green;
}

#display {
    position: absolute;
    top: 0;
    left: 513px;
    width: 512px;
    height: 512px;
    border: 1px solid red;
}
